html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Verdana;
  font-size: 12px;

  background: white;
  color: black;

  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

code, pre {
  font-family: Terminus, Courier New, Terminal, monospace;
}

pre {
  margin: 0;
  padding: 0;

  width: 98%;
  padding: 5px;
  margin: 0 auto;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted black;

  &:hover {
    color: #a591b2;
  }
}

h1, h2 {
  a {
    border-bottom: 0;
  }
}

ul.contents {
  a {
    border-bottom: 0;
  }
}

#container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;

  #header {
    font-size: 123px;
    text-align: center;
    text-decoration: none !important;
    color: black;
    cursor: default;

    #logo {
      height: 0.6em;
      position: relative;
      top: 0.05em;
    }

    #phrase {
      font-size: 18px;
      vertical-align: middle;
      white-space: nowrap;
      display: inline;

      .second {
        display: inline;
        position: relative;
        top: 4px;
        text-align: left;

        td {
          font-size: 12px;
          font-style: italic;
        }

        .agnostic {
          font-size: 18px;
        }
      }
    }
  }

  #menu {
    font-size: 16px;
    text-align: center;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    padding: 3px;

    a {
      margin-right: 10px;
      border: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  #content {
    padding: 5px;
  }
}

#content {
  h1 {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
  }

  h2 {
    border-bottom: 1px dotted black;
  }

  .languages {
    text-align: right;
    padding-bottom: 4px;

    .language {
      margin-left: 5px;
      padding: 0;

      a.current {
        border-bottom: 2px solid black;
      }
    }
  }

  .warning {
    margin-top: 5px;
    color: #b21818;
    float: left;
  }

  ul {
    margin-left: 10px;

    ul {
      margin-left: 0;
    }
  }

  li {
    margin-left: -25px;
  }

  .post {
    .header {
      h2 {
        margin: 0;
        font-size: 16px;

        a {
          color: black;
          text-decoration: none;
        }

        .author, .categories {
          font-size: 10px;
          font-weight: normal;
        }

        .date {
          font-weight: normal;
          float: right;
          font-style: italic;
          font-size: 12px;
        }
      }
    }
  }

  #posts {
    width: 76%;
    float: left;

    .post {
      border-bottom: 1px solid black;

      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }

    .archive {
      text-align: right;
      padding-top: 2px;
      font-size: 10px;
      text-transform: uppercase;

      a {
        border: 0;
      }
    }
  }

  #twitter {
    width: 19%;
    float: right;

    margin-top: 5px;

    a {
      border: 0;
    }

    & > a {
      position: relative;
    }

    li {
      font-size: 10px;
      list-style-type: none;
      padding-left: 5px;
      border-left: 2px solid black;
      margin-bottom: 5px;

      a {
        display: block;
        padding-top: 2px;
      }

      span {
        a {
          display: inline;
          padding: 0;
        }

        color: black;

        white-space: pre-wrap;
      }
    }
  }
}

#license {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

  background: white;
  border-top: 1px solid black;
  font-size: 10px !important;
  padding-left: 2px;

  a {
    color: black !important;
    text-decoration: none;
  }
}

#disqus_thread {
  border-top: 1px solid black;
  padding-top: 5px;

  a {
    border: 0;
  }
}
