{% case page.lang %}
    {% when 'it' %}
        <a href="/">Home</a>
        <a href="/it/docs/">Documentazione</a>
        <a href="/it/contributing.html">Contribuisci</a>
        <a href="/it/about.html">Informazioni</a>

    {% when 'es' %}
        <a href="/">Home</a>
        <a href="/es/docs/">Documentación</a>
        <a href="/es/contributing.html">Contribuir</a>
        <a href="/es/about.html">Información</a>

    {% else %}
        <a href="/">Home</a>
        <a href="/en/docs">Documentation</a>
        <a href="/en/contributing.html">Contributing</a>
        <a href="/en/about.html">About</a>

{% endcase %}
